<!--
@autor:     Elias Dominguez Pires
@mail:      elias.dominguezpires@gmail.com@ejemplo.com.py
-->
<section>
    <!-- Titulo de la pagina -->
    <h1>Ciudades</h1>
    
    <div ui-breadcrumb></div>
    <ui-blockui data-ui-blockui-config="uiBlockuiConfig"/>
    
    <div>
        <!-- begin alert directive -->
        <ui-alert alert-service="alertSuccesServices"
                  alert-config="alertSuccessConfig" id="id_alertSuccessBox">
        </ui-alert>
    
        <ui-alert alert-service="alertErrorServices"
                  alert-config="alertErrorConfig" id="id_alertErrorBox"></ui-alert>
        <!-- end alert directive -->
    </div>
    <form class="form-horizontal" name="myForm" novalidate ng-submit="confirmar()">
        <div class="form-group">
                    
			<!-- ciud_id_ciudad -->
			<div class="form-group">
			    <label class="col-lg-3 control-label">ciud_id_ciudad</label>
			    <div ng-class="{'has-error':myForm.input0.$invalid}">
			        <div class="input-group col-lg-5">
			          <input class="form-control input-sm" name="input0"
			               ng-model="datos.ciudIdCiudad" placeholder="ciud_id_ciudad"
			               maxlength="32" uppercase validate-number format-number
			               ng-required="true" focus-me="true">
			          </input>
			        </div>
			        <div class="custom-error"
			              ng-show="myForm.input0.$dirty &&  myForm.input0.$invalid">
			                 <span ng-show="myForm.input0.$error.required">Requerido! </span>
			                 <span ng-show="myForm.input0.$error.numerico">
			                     El campo debe ser numerico
			                 </span>
			        </div>
			    </div>
			</div>
			<!-- ciud_descripcion -->
			<div class="form-group">
			    <label class="col-lg-3 control-label">ciud_descripcion</label>
			    <div ng-class="{'has-error':myForm.input1.$invalid}">
			        <div class="input-group col-lg-5">
			          <input type="text" class="form-control input-sm" name="input1"
			               ng-model="datos.ciudDescripcion" placeholder="ciud_descripcion"
			               maxlength="50" uppercase 
			               ng-required="true" focus-me="false">
			          </input>
			        </div>
			        <div class="custom-error"
			               ng-show="myForm.input1.$dirty &&  myForm.input1.$invalid">
			               <span ng-show="myForm.input1.$error.required">Requerido! </span>
			        </div>
			    </div>
			</div>
            <br/>
            <fieldset>
                <div class="text-center">
                    <button type="submit"
                            ng-disabled="myForm.$invalid"
                            class="btn btn-success btn-sm">
                        <i class="icon icon-check"></i>&nbsp;&nbsp;Guardar
                    </button>
                    <button ng-click="cancelar()" type="button"
                            class="btn btn-danger btn-sm">
                        <i class="icon icon-remove"></i>&nbsp;&nbsp;Cancelar
                    </button>
                </div>
            </fieldset>
            </div>
        </form>
        <!-- end form -->
    </div>
</section>