<!--
@autor:     iván gomez
@mail:      ivan.gomez@konecta.com.py
-->
<section>
    <!-- Titulo de la pagina -->
    <h3>{{titulo}}</h3>

    <div ui-breadcrumb/>
    <ui-blockui data-ui-blockui-config="uiBlockuiConfig" />

    <div>
        <!-- begin alert directive -->
        <ui-alert alert-service="alertSuccesServices" alert-config="alertSuccessConfig" id="id_alertSuccessBox">
        </ui-alert>

        <ui-alert alert-service="alertErrorServices" alert-config="alertErrorConfig" id="id_alertErrorBox"></ui-alert>
        <!-- end alert directive -->
    </div>
    <div class="col-lg-12 col-lg-offset-0">
        <div class="panel panel-default">
            <!-- begin panel -->
            <div class="panel-heading" data-toggle="collapse" data-target="#busqueda">Búsqueda</div>
            <div class="panel-body collapse in" id="busqueda">
                <!-- form-horizontal contenedor principarl botones inptus-->
                <form class="form-horizontal" role="form" name="busquedaForm">
                    <div class="row">
                        <div class="col-lg-9">
                            <!-- facturas.id_cliente -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Cliente</label>
                                <div class="input-group col-lg-8">
                                    <select ui-select2 class="form-control input-sm"  ng-focus="true" name="input2" ng-model="datos.idCliente" placeholder="Seleccionar">
                                        <option value="">Todos</option>
                                        <option ng-repeat="l in clientesLista" value="{{l.id}}"> {{l.documento}} - {{l.nombre}} {{l.apellido}} </option>
                                    </select>
                                </div>
                            </div>
                            <!-- facturas.talonario -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Factura</label>
                                <div class="input-group col-lg-3">
                                    <input type="text" class="form-control input-sm" placeholder="001-001" ng-model="datos.talonario" uppercase focus-me="false" />
                                </div>
                                <div class="input-group col-lg-5">
                                    <input type="text" class="form-control input-sm" ng-model="datos.numeroComprobante" placeholder="0000002" uppercase focus-me="false" />                                    </div>
                            </div>
                            <!-- facturas.condicion -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Condicion</label>
                                <div class="input-group col-lg-8">

                                    <select ui-select2 class=" form-control input-sm" name="input2" ng-model="datos.condicion" placeholder="Seleccionar">
                                        <option value="">Todos</option>
                                        <option value="CT">Contado</option>
                                        <option value="CR">Credito</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-horizontal">
                                <button type="submit" ng-click="buscar()" class="btn btn-custom btn-sm">
                                    Buscar <i class="icon-search icon-large"></i>
                                </button>
                                <button type="submit" ng-click="limpiar()" class="btn btn-warning btn-sm">
                                    Limpiar <i class="icon-eraser icon-large"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end grupo de Botones buscar limpiar -->
                </form>
                <!-- end form-horizontal -->
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
        <!-- begin Grupo de Botones-->
        <div class="form-inline">

            <!-- begin boton modificar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-info btn-sm" ng-click="modificar()" ng-disabled="!rowSeleccionado">
                    <i class="icon icon-search"></i>&nbsp;&nbsp;Consultar
                </button>
            </div>

            <!-- begin boton agregar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-success btn-sm" ng-click="go('/agregar')">
                    <i class="icon icon-plus"></i>&nbsp;&nbsp;Agregar
                </button>
            </div>

            <!-- begin boton agregar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-custom btn-sm" ng-click="cuotas()" ng-disabled="!rowSeleccionado">
                    <i class="icon icon-plus"></i>&nbsp;&nbsp;Cuotas
                </button>
            </div>

            <!-- begin boton eliminar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-sm" ng-click="launch('anular')" ng-disabled="!rowSeleccionado">
                    <i class="icon icon-trash"></i>&nbsp;&nbsp;Anular
                </button>
            </div>
        </div>
    </div>

    <!-- begin Tabla directive ui-jqgrid-->
    <div class="col-lg-12 col-lg-offset-0">
        <div class="table-responsive">
            <table ui-jqgrid="tableParams" class="table" id="jqgrid" />
        </div>
        <div id="pager"></div>
    </div>
    <!-- end Tabla directive ui-jqgrid-->
</section>