<!--
@autor:     iván gomez
@mail:      ivan.gomez@konecta.com.py
-->
<section>
    <!-- Titulo de la pagina -->
    <h1>Facturas</h1>

    <div ui-breadcrumb></div>
    <ui-blockui data-ui-blockui-config="uiBlockuiConfig" />

    <div>
        <!-- begin alert directive -->
        <ui-alert alert-service="alertSuccesServices" alert-config="alertSuccessConfig" id="id_alertSuccessBox">
        </ui-alert>

        <ui-alert alert-service="alertErrorServices" alert-config="alertErrorConfig" id="id_alertErrorBox"></ui-alert>
        <!-- end alert directive -->
    </div>
    <form class="form-horizontal" name="myForm" novalidate ng-submit="confirmar()">
        <div class="row">

            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos Clientes</div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cliente</label>
                            <div ng-class="{'has-error':myForm.input2.$invalid}">
                                <div class="input-group col-sm-9">
                                    <select ui-select2 class=" form-control" name="input2" ng-model="fac.idCliente" placeholder="Seleccionar" ng-change="clientes()" disabled>
                                        <option value="">Seleccione</option>
                                        <option ng-repeat="l in clientesLista" value="{{l.id}}">{{l.nombre}} {{l.apellido}} </option>
                                    </select>
                                </div>
                                <div class="custom-error" ng-show="myForm.input2.$dirty &&  myForm.input2.$invalid"> <span ng-show="myForm.input2.$error.required">Requerido! </span> <span ng-show="myForm.input2.$error.numerico">                      El campo debe ser numerico                  </span> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{fac.fechaFactura | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">RUC</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{fac.ruc}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{fac.direccion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos Factura</div>
                    <div class="panel-body">
                         <div class="form-group">
                            <label class="col-sm-3 control-label">RUC</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{800123999-9}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Timbrado</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{111444555}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Condicion</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{fac.condicionText}}</p>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">Factura</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{fac.facturas}}</p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Detalle de la factura</div>
                    <div class="panel-body">

                        <div class="row col-lg-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-right">cantidad</th>
                                        <th>descripcion</th>
                                        <th class="text-right">unitario</th>
                                        <th class="text-right">total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="l in detalle">
                                        <td class="text-right">{{l.cantidad | number}} </td>
                                        <td>{{l.producto}}</td>
                                        <td class="text-right">{{l.montoUnitario | number}} </td>
                                        <td class="text-right">{{l.montoTotal | number}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Totales</div>
                    <div class="panel-body">
                         <div class="form-group">
                            <label class="col-sm-3 control-label">Total</label>
                            <div class="col-sm-9">
                               Gs.{{fac.total | number}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">IVA</label>
                            <div class="col-sm-9">
                                Gs.{{fac.totalIva | number}}</p>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">Excenta</label>
                            <div class="col-sm-9">
                              Gs.{{fac.totalExcenta | number}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <fieldset>
            <div class="text-center">
                <button ng-click="launch('cancelar')" type="button" class="btn btn-danger btn-sm">
                    <i class="icon icon-remove"></i>&nbsp;&nbsp;Volver
                </button>
                <button ng-click="launch('pagare')" type="button" class="btn btn-info btn-sm">
                    <i class="icon icon-search"></i>&nbsp;&nbsp;Pagare
                </button>
                <button ng-click="launch('generarCuota')" type="button" class="btn btn-custom btn-sm">
                    <i class="icon icon-search"></i>&nbsp;&nbsp;Cuotas
                </button>

            </div>
        </fieldset>
    </form>
    <!-- end form -->
</section>