<!--
@autor:     iván gomez
@mail:      ivan.gomez@konecta.com.py
-->
<section>
    <!-- Titulo de la pagina -->
    <h3>Tipo Productos</h3>

    <div ui-breadcrumb></div>
    <ui-blockui data-ui-blockui-config="uiBlockuiConfig" />

    <div>
        <!-- begin alert directive -->
        <ui-alert alert-service="alertSuccesServices" alert-config="alertSuccessConfig" id="id_alertSuccessBox">
        </ui-alert>

        <ui-alert alert-service="alertErrorServices" alert-config="alertErrorConfig" id="id_alertErrorBox"></ui-alert>
        <!-- end alert directive -->
    </div>
    <form class="form-horizontal" name="myForm" novalidate ng-submit="confirmar()">
        <div class="form-group">

            <!-- marcas.descripcion -->
            <div class="form-group">
                <label class="col-lg-3 control-label">Descripcion</label>
                <div ng-class="{'has-error':myForm.input2.$invalid}">
                    <div class="input-group col-lg-5">
                        <input type="text" class="form-control input-sm" name="input2" ng-model="datos.descripcion" placeholder="" maxlength="120" uppercase ng-required="false" focus-me="false" /> </div>
                    <div class="custom-error" ng-show="myForm.input2.$dirty &&  myForm.input2.$invalid"> <span ng-show="myForm.input2.$error.required">Requerido! </span> </div>
                </div>
            </div>
            <br/>
            <fieldset>
                <div class="text-center">
                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success btn-sm">
                        <i class="icon icon-check"></i>&nbsp;&nbsp;Guardar
                    </button>
                    <button ng-click="cancelar()" type="button" class="btn btn-danger btn-sm">
                        <i class="icon icon-remove"></i>&nbsp;&nbsp;Cancelar
                    </button>
                </div>
            </fieldset>
        </div>
    </form>
    <!-- end form -->
</section>