<!--
@autor:     iván gomez
@mail:      ivan.gomez@konecta.com.py
-->
<section>
    <!-- Titulo de la pagina -->
    <h1>{{titulo}}</h1>

    <div ui-breadcrumb/>
    <ui-blockui data-ui-blockui-config="uiBlockuiConfig" />

   
    <div class="col-lg-12 col-lg-offset-0">
        <div class="panel panel-default">
            <!-- begin panel -->
            <div class="panel-heading" data-toggle="collapse" data-target="#busqueda">Búsqueda</div>
            <div class="panel-body collapse in" id="busqueda">
                <!-- form-horizontal contenedor principarl botones inptus-->
                <form class="form-horizontal" role="form" name="busquedaForm">
                    <div class="row">
                        <div class="col-lg-10">
                            <!-- facturas.id_cliente -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Cliente</label>
                                <div class="input-group col-lg-9">
                                    <select ui-select2 class="form-control input-sm" onfocus="true" name="input2" ng-model="datos.idCliente" placeholder="Seleccionar">
                                        <option value="">Todos</option>
                                        <option ng-repeat="l in clientesLista" value="{{l.id}}"> {{l.documento}} - {{l.nombre}} {{l.apellido}} </option>
                                    </select>
                                </div>
                            </div>
                            <!-- chequera.fecha_emision -->
                            <div class="form-group"> <label class="col-lg-2 control-label">Fecha Emision</label>
                            <div class="input-group col-lg-3">
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.FechaEmision' date-format='dd/MM/yyyy' placeholder='Emision'  required='false'>
                                        </ui-datetimepicker>                                     
                                </div>
                                <div class="input-group col-lg-3">
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.FechaEmisionDesde' date-format='dd/MM/yyyy' placeholder='Desde'  required='false'>
                                        </ui-datetimepicker>                                     
                                </div>
                                <div class="input-group col-lg-3">
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.FechaEmisionHasta' date-format='dd/MM/yyyy' placeholder='Hasta'  required='false'>
                                        </ui-datetimepicker>                                     
                                </div>
                            </div>
                            <!-- chequera.fecha_vencimiento -->
                            <div class="form-group"> <label class="col-lg-2 control-label">FechaVencimiento</label>
                                <div class="input-group col-lg-3">
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.fechaVencimiento' date-format='dd/MM/yyyy' placeholder='Vencimiento'  required='false'>
                                        </ui-datetimepicker> 
                                </div>
                                <div class="input-group col-lg-3">
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.fechaVencimientoDesde' date-format='dd/MM/yyyy' placeholder='Desde'  required='false'>
                                        </ui-datetimepicker> 
                                </div>
                                <div class="input-group col-lg-3">
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.fechaVencimientoHasta' date-format='dd/MM/yyyy' placeholder='Hasta'  required='false'>
                                        </ui-datetimepicker> 
                                </div>
                            </div>
                            <!-- chequera.fecha_pago -->
                            <div class="form-group"> <label class="col-lg-2 control-label">FechaPago</label>
                                <div class="input-group col-lg-3"> 
                                    <ui-datetimepicker name="input13" disable-timepicker='true' ng-model='datos.fechaPago' 
                                    date-format='dd/MM/yyyy' placeholder='Seleccione una Fecha'>
                                        </ui-datetimepicker>  </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="col-lg-2">
                            <div class="form-horizontal">
                                <button type="submit" ng-click="buscar()" class="btn btn-custom btn-sm">
                                    Buscar <i class="icon-search icon-large"></i>
                                </button>
                                <button type="submit" ng-click="limpiar()" class="btn btn-warning btn-sm">
                                    Limpiar <i class="icon-eraser icon-large"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end grupo de Botones buscar limpiar -->
                </form>
                <!-- end form-horizontal -->
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
        <!-- begin Grupo de Botones-->
        <div class="form-inline">
            <!-- begin boton modificar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-success btn-sm" ng-click="cobrar()" ng-disabled="disabled">
                    <i class="icon icon-money"></i>&nbsp;&nbsp;Cobrar
                </button>
            </div>
            <!-- begin boton eliminar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-sm" ng-click="launch('anular')" ng-disabled="disabled">
                    <i class="icon icon-trash"></i>&nbsp;&nbsp;Anular
                </button>
            </div>
        </div>
    </div>

    <!-- begin Tabla directive ui-jqgrid-->
    <div class="col-lg-12 col-lg-offset-0">
        <div class="table-responsive">
            <table ui-jqgrid="tableParams" class="table" id="jqgrid" />
        </div>
        <div id="pager"></div>
    </div>
    <!-- end Tabla directive ui-jqgrid-->
</section>